@mixin button-variant($background, $color) {
  background: $background;
  color: $color;

  &:hover {
    background: darken($background, 10);
  }

  &:active {
    background: darken($background, 20);
  }
}

.button {
  display: block;
  height: 7.3rem;
  cursor: pointer;
  border: 0;
  color: #333;
  font-size: 2.1rem;
  font-family: 'Ubuntu', sans-serif;
  transition: 0.3s linear;
  padding: 0.5rem 2.7rem;
  border-radius: 3px;
  transition-property: color, background-color, box-shadow;

  &:focus {
    outline: none;
    box-shadow: 0 0 5rem rgba(black, 0.2);
  }

  @include button-variant(#e2e0e0, #333);

  &--primary {
    @include button-variant($color-primary, #fff);
  }

  &--danger {
    @include button-variant($color-danger, #fff);
  }

  &--warning {
    @include button-variant($color-warning, #fff);
  }

  &--small {
    height: 4.3rem;
    padding: 0.5rem 2rem;
  }
}

