.field {
  margin-bottom: 5rem;

  &__label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.1rem;
    margin-bottom: 2rem;
  }

  &__input {
    width: 100%;
    height: 7.3rem;
    border: none;
    border-radius: 3px;
    background: rgba(black, 0.1);
    padding: 0.5rem 2.7rem;
    color: #333;
    font-size: 2.1rem;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.3s linear box-shadow;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 5rem rgba(black, 0.1);
    }
  }

  &__help {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.1rem;

    &--danger {
      color: $color-danger;
    }

    &--sucess {
      color: $color-success;
    }
  }

  &__control {
    position: relative;

    &--icon-left .field__input {
      padding-left: 6.7rem;
    }

    &--icon-right .field__input {
      padding-right: 6.7rem;
    }
  }

  &__icon {
    position: absolute;
    top: 2.6rem;
    color: #333;
    width: 2.3rem;
    height: 2.3rem;
    pointer-events: none;

    &--right {
      right: 2.4rem;
    }

    &--left {
      left: 2.4rem;
    }
  }

  &--small {
    margin-bottom: 3rem;
    .field__input {
      height: 4.3rem;
      padding: 0.5rem 2rem;
    }
    .field__label {
      margin-bottom: 1rem;
    }
  }

  &--select {
    .dropdown {
      &.unsearchable .form-control {
        display: none;
      }
      &.single .clear {
        display: none;
      }
      .dropdown-toggle {
        width: 100%;
        height: 7.3rem;
        border: none;
        border-radius: 3px;
        background: rgba(black, 0.1);
        padding: 0.5rem 2.7rem;
        color: #333;
        font-size: 2.1rem;
        font-family: 'Ubuntu', sans-serif;
        transition: 0.3s linear box-shadow;
      }
      .selected-tag,
      .searched-tag {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        line-height: initial;
        color: #333;
        position: relative !important;
        opacity: 1 !important;
      }
      .open-indicator {
        position: absolute;
        right: 2.7rem;
        top: 50%;
        margin-top: -6px;
      }
    }

    &.field--small {
      .dropdown .dropdown-toggle {
        height: 4.3rem;
        padding: 0.5rem 2rem;
      }
    }
  }
}