.items {
  margin: 1.1rem 0 4rem 0;
  max-width: 100%;
  overflow: auto;
  position: relative;

  &__table {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
  }

  &__header {
    border-bottom: 1px solid #DADADA;

    th {
      padding: 2.5rem 3rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #9E9E9E;
    }
  }

  &__content {
    &:before {
      content: "-";
      display: block;
      line-height: 3rem;
      color: transparent;
      pointer-events: none;
    }
    $border-radius: 0.5rem;
    tr {
      &:first-child td:first-child {
        border-top-left-radius: $border-radius;
      }
      &:last-child td:last-child {
        border-top-right-radius: $border-radius;
      }
      &:last-child td:first-child {
        border-bottom-left-radius: $border-radius;
      }
      &:last-child td:last-child {
        border-bottom-right-radius: $border-radius;
      }
    }
    td {
      background: #fff;
      padding: 3.5rem 3rem;
      font-size: 2.1rem;
      line-height: 1.5;
    }
  }

  &__code {
    font-weight: 600;
    color: #5E6265;
  }

  &__location {
    font-weight: 600;
    color: #5E6265;
  }

  &__time,
  &__sender,
  &__direction {
    color: #5E6265;
  }

  &__direction .fa-icon {
    margin: 0 1rem;
  }

  &__status {
    font-weight: 600;
    &--handed {
      color: $color-primary;
    }
    &--send {
      color: $color-success;
    }
  }

  &__important {
    font-weight: 600;
    &--low {
      color: $color-primary;
    }
    &--high {
      color: $color-danger;
    }
  }

  &__checkbox .checkbox {
    float: right;
    &__indicator {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background: transparent;
      margin: 0;
      border: 2px solid #CDCDCD;
      .fa-icon {
        display: none;
      }
      &:before {
        content: '';
        display: block;
        background: #ACACAC;
        opacity: 0;
        transition: 0.3s linear opacity;
        margin: auto;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
      }
    }
    &--checked .checkbox__indicator:before {
      opacity: 1;
    }
  }

  &__spinner {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(black, 0.05);

    > .spinner {
      margin: auto;
    }
  }
}
