html {
    font-size: 10px;
    @media (max-width: 1800px) {
        font-size: 9px;
    }
    @media (max-width: 1700px) {
        font-size: 8px;
    }
    @media (max-width: 1600px) {
        font-size: 7px;
    }
    @media (max-width: 1500px) {
        font-size: 6px;
    }
}

body {
    background: #F4F4F4;
    font-family: 'Ubuntu', sans-serif;
}

$footer-height: 9.75rem;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: $footer-height;
}

.header {
    background: #2196F2;
    padding-top: 4.3rem;
    box-shadow: 0 0 2rem 0.5rem rgba(black, 0.2);
    .logo {
        margin-top: 1.2rem;
        margin-right: 23.9rem;
        @media (max-width: 1900px) {
            margin-right: 10rem;
        }
        @media (max-width: 1400px) {
            margin-right: 3rem;
        }
    }
    &__top {
        display: flex;
    }
    &__bottom {
        margin-top: 2.3rem;
        display: flex;
        .checkbox {
            margin-left: auto;
            margin-top: 3rem;
        }
    }
    &__actions {
        display: flex;
        margin-left: auto;
        align-items: center;
        * + * {
            margin-left: 3rem;
        }
    }
}

.footer {
    background: #fff;
    margin-top: auto;
    box-shadow: 0 0 2rem 0.5rem rgba(black, 0.1);
    color: #6E7274;
    font-size: 2.5rem;
    padding: 3rem 0;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;

    .container {
        display: flex;
    }

    &__actions {
        margin-left: auto;
    }
}

.container {
    width: 91%;
    margin: 0 auto;
}

