.search {
    position: relative;
    width: 112.1rem;
    max-width: 60%;
    @media (max-width: 1900px) {
        max-width: 50%;
    }
    @media (max-width: 1400px) {
        max-width: 40%;
    }
    @media (max-width: 700px) {
        display: none;
    }

    &__field {
        .field__input {
            background: #42A5F4;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }
        .field__icon {
            color: #fff;
        }
    }

    &__result {
        background: #fff;
        position: absolute;
        top: calc(100% + 1.4rem);
        left: 0;
        right: 0;
        border-radius: 5px;
        box-shadow: 0 0 5rem rgba(black, 0.1);
        padding-bottom: 1.3rem;

        &:before {
            position: absolute;
        }
    }

    &__item {
        border-top: 1px solid #EFEFEF;
        margin-top: 1.3rem;
        height: 12.5rem;
        font-size: 2rem;
        padding-left: 3.7rem;
        padding-top: 2.9rem;
        padding-right: 4.6rem;
        cursor: pointer;

        > * {
            display: flex;
        }

        .items__code {
            font-size: 2rem;
        }
        .items__direction {
            font-size: 2.4rem;
        }
        .items__sender {
            margin-left: auto;
        }
        .items__status {
            margin-left: 2rem;
        }
        .items__time {
            margin-left: auto;
            color: #898C8E;
        }

        &-bottom {
            margin-top: 1.1rem;
        }
    }
}